.map1
{
  background: url("../img/map1.png") no-repeat center;
  background-size: cover;
  height: 223px;
  width: 100%;

}

.map2
{
  background: url("../img/map2.png") no-repeat center;
  background-size: cover;
  height: 110%;
  width: 100%;

}